Cobranzas/Service References/ServicioAvisos/AvisosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AvisosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/AvisosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/AvisosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/AvisosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cobranzas.OT" />
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/AvisosService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAvisosService_Avisos_Creados_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_Creados_lst" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_Creados_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_Creados_lstResponse" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_lst" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_lstResponse" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_ins_InputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_ins" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_ins_OutputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_insResponse" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_del_InputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_del" />
  </wsdl:message>
  <wsdl:message name="IAvisosService_Avisos_del_OutputMessage">
    <wsdl:part name="parameters" element="tns:Avisos_delResponse" />
  </wsdl:message>
  <wsdl:portType name="IAvisosService">
    <wsdl:operation name="Avisos_Creados_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/IAvisosService/Avisos_Creados_lst" message="tns:IAvisosService_Avisos_Creados_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAvisosService/Avisos_Creados_lstResponse" message="tns:IAvisosService_Avisos_Creados_lst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Avisos_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/IAvisosService/Avisos_lst" message="tns:IAvisosService_Avisos_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAvisosService/Avisos_lstResponse" message="tns:IAvisosService_Avisos_lst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Avisos_ins">
      <wsdl:input wsaw:Action="http://tempuri.org/IAvisosService/Avisos_ins" message="tns:IAvisosService_Avisos_ins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAvisosService/Avisos_insResponse" message="tns:IAvisosService_Avisos_ins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Avisos_del">
      <wsdl:input wsaw:Action="http://tempuri.org/IAvisosService/Avisos_del" message="tns:IAvisosService_Avisos_del_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAvisosService/Avisos_delResponse" message="tns:IAvisosService_Avisos_del_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAvisosService" type="tns:IAvisosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Avisos_Creados_lst">
      <soap:operation soapAction="http://tempuri.org/IAvisosService/Avisos_Creados_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Avisos_lst">
      <soap:operation soapAction="http://tempuri.org/IAvisosService/Avisos_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Avisos_ins">
      <soap:operation soapAction="http://tempuri.org/IAvisosService/Avisos_ins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Avisos_del">
      <soap:operation soapAction="http://tempuri.org/IAvisosService/Avisos_del" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvisosService">
    <wsdl:port name="BasicHttpBinding_IAvisosService" binding="tns:BasicHttpBinding_IAvisosService">
      <soap:address location="http://veccsvs008:9010/Servicios/AvisosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>