Cobranzas/Service References/ServicioSupervision/SupervisionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupervisionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/SupervisionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/SupervisionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://veccsvs008:9010/Servicios/SupervisionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cobranzas.OT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupervisionService_OperadoresSupervisadosConSupervisor_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisadosConSupervisor_lst" />
  </wsdl:message>
  <wsdl:message name="ISupervisionService_OperadoresSupervisadosConSupervisor_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisadosConSupervisor_lstResponse" />
  </wsdl:message>
  <wsdl:message name="ISupervisionService_OperadoresSupervisados_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisados_lst" />
  </wsdl:message>
  <wsdl:message name="ISupervisionService_OperadoresSupervisados_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisados_lstResponse" />
  </wsdl:message>
  <wsdl:message name="ISupervisionService_OperadoresSupervisadosCompleto_lst_InputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisadosCompleto_lst" />
  </wsdl:message>
  <wsdl:message name="ISupervisionService_OperadoresSupervisadosCompleto_lst_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperadoresSupervisadosCompleto_lstResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupervisionService">
    <wsdl:operation name="OperadoresSupervisadosConSupervisor_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisadosConSupervisor_lst" message="tns:ISupervisionService_OperadoresSupervisadosConSupervisor_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisadosConSupervisor_lstResponse" message="tns:ISupervisionService_OperadoresSupervisadosConSupervisor_lst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperadoresSupervisados_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisados_lst" message="tns:ISupervisionService_OperadoresSupervisados_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisados_lstResponse" message="tns:ISupervisionService_OperadoresSupervisados_lst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperadoresSupervisadosCompleto_lst">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisadosCompleto_lst" message="tns:ISupervisionService_OperadoresSupervisadosCompleto_lst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupervisionService/OperadoresSupervisadosCompleto_lstResponse" message="tns:ISupervisionService_OperadoresSupervisadosCompleto_lst_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupervisionService" type="tns:ISupervisionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperadoresSupervisadosConSupervisor_lst">
      <soap:operation soapAction="http://tempuri.org/ISupervisionService/OperadoresSupervisadosConSupervisor_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperadoresSupervisados_lst">
      <soap:operation soapAction="http://tempuri.org/ISupervisionService/OperadoresSupervisados_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperadoresSupervisadosCompleto_lst">
      <soap:operation soapAction="http://tempuri.org/ISupervisionService/OperadoresSupervisadosCompleto_lst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupervisionService">
    <wsdl:port name="BasicHttpBinding_ISupervisionService" binding="tns:BasicHttpBinding_ISupervisionService">
      <soap:address location="http://veccsvs008:9010/Servicios/SupervisionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>